<div class="header">
    <div class="titolo">
        <h1>Prova Pratica 1</h1>
    </div>
  
    <div class="search">
        <div class="p-field p-grid">
            <div class="p-col">
                <input id="firstname3" type="text" placeholder="cerca qui..." pInputText> 
            </div>
        </div>
    </div>
    <nav class="tool">
        <ul>
            <li><button pButton pRipple type="button" label="Home" class="p-button-danger p-button-text"></button></li>
            <li><button pButton pRipple type="button" label="Film" class="p-button-danger p-button-text"></button></li>
            <li><button pButton pRipple type="button" label="Contact Us" class="p-button-danger p-button-text"></button></li>
        </ul>
    </nav>
</div>


