<div class="container">
    <div class="titolo">
        <h1>Prova Pratica 1</h1>
    </div>
</div>
<div class="containerUnderTitle">
<div class="bottoni">
    <nav>
        <ul>
            <li><button pButton pRipple type="button" label="Home" class="p-button-danger p-button-text"></button></li>
            <li><button pButton pRipple type="button" label="Film" class="p-button-danger p-button-text"></button></li>
            <li><button pButton pRipple type="button" label="Contact Us" class="p-button-danger p-button-text"></button></li>
        </ul>
    </nav>
</div>

<input id="firstname1" type="text" placeholder="Cerca..." pInputText> 
</div>
