.container{
    display: flex;
    background-color: rgb(92, 92, 92);
    width: 100%;
    justify-content: center;
    
}
div h1{
    color: rgb(252, 92, 92);
    font-size: 40px;
}
.search{
    margin-top: 40px;
    
    
}
nav ul{
    list-style: none;
}
nav li{
    display:inline-block;
    justify-content: space-between;
    
}
nav li:hover{
    background-color: rgb(129, 85, 85);
    border-radius: 5px;
}
 .bottoni{
/*    display: flex;
    justify-content: space-between;
    margin-right: 30px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .bottoni button{
    display: flex;
    align-items: center;
} */
.bottoni input{
   
       row-gap: 20px; /* Aggiunge spazio tra il campo di input e il pulsante */
    
}
.containerUnderTitle{
display: flex;
justify-content: center;
align-items: center;
margin-left: 140px;
}
.containerUnderTitle input{
    display: flex-end;
}